<a href="https://colab.research.google.com/github/nyabutolewis33/-legendary-computing-machine/blob/main/data%20wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud','Veronicah','John', 'Juliet'],
'Campus': ['Main','Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi','Main', 'Ruiru', 'Nairobi','Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)
print(wainaina1)

   IDNO        NAME   Campus
0   101       Peter     Main
1   102       Joyce    Ruiru
2   103      George  Nairobi
3   104      Phylis     Main
4   105       Moses    Ruiru
5   106  Priscillah  Nairobi
6   107       Eliud     Main
7   108   Veronicah    Ruiru
8   109        John  Nairobi
9   110      Juliet     Main

In [2]:
import pandas as pd
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud','Veronicah','John', 'Juliet'],
'Campus': ['Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi','Main', 'Ruiru', 'Nairobi','Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)

FEESDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['6000', '375', 'NIL', '7640', '3800','NIL', '1250','900','5200', 'NIL']
}
wainaina2 = pd.DataFrame(FEESDETAILS)

#merging Dataframe
print(pd.merge(wainaina1,wainaina2,on='IDNO'))

   IDNO        NAME   Campus PENDING
0   101       Peter     Main    6000
1   102       Joyce    Ruiru     375
2   103      George  Nairobi     NIL
3   104      Phylis     Main    7640
4   105       Moses    Ruiru    3800
5   106  Priscillah  Nairobi     NIL
6   107       Eliud     Main    1250
7   108   Veronicah    Ruiru     900
8   109        John  Nairobi    5200
9   110      Juliet     Main     NIL