<a href="https://colab.research.google.com/github/nyabutolewis33/-legendary-computing-machine/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud','Veronicah','John', 'Juliet'],
'Campus': ['Main','Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi','Main', 'Ruiru', 'Nairobi','Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)
print(wainaina1)

   IDNO        NAME   Campus
0   101       Peter     Main
1   102       Joyce    Ruiru
2   103      George  Nairobi
3   104      Phylis     Main
4   105       Moses    Ruiru
5   106  Priscillah  Nairobi
6   107       Eliud     Main
7   108   Veronicah    Ruiru
8   109        John  Nairobi
9   110      Juliet     Main

In [2]:
import pandas as pd
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses','Priscillah', 'Eliud','Veronicah','John', 'Juliet'],
'Campus': ['Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi','Main', 'Ruiru', 'Nairobi','Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)

FEESDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['6000', '375', 'NIL', '7640', '3800','NIL', '1250','900','5200', 'NIL']
}
wainaina2 = pd.DataFrame(FEESDETAILS)

#merging Dataframe
print(pd.merge(wainaina1,wainaina2,on='IDNO'))

   IDNO        NAME   Campus PENDING
0   101       Peter     Main    6000
1   102       Joyce    Ruiru     375
2   103      George  Nairobi     NIL
3   104      Phylis     Main    7640
4   105       Moses    Ruiru    3800
5   106  Priscillah  Nairobi     NIL
6   107       Eliud     Main    1250
7   108   Veronicah    Ruiru     900
8   109        John  Nairobi    5200
9   110      Juliet     Main     NIL

In [3]:
import pandas as pd
# Create a DataFrame for student details
STUDENTDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME': ['Peter', 'Joyce', 'George', 'Phylis', 'Moses', 'Priscillah', 'Eliud', 'Veronicah', 'John', 'Juliet'],
'Campus': ['Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi', 'Main', 'Ruiru', 'Nairobi', 'Main']
}
wainaina1 = pd.DataFrame(STUDENTDETAILS)
# Create a DataFrame for student fees
FEESDETAILS = {
'IDNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': [6000, 375, 0, 7640, 3800, 0, 1250, 900, 5200, 0]
}
wainaina2 = pd.DataFrame(FEESDETAILS)
# Merge the two DataFrames on 'IDNO' to combine them
merged_df = pd.merge(wainaina1, wainaina2, on='IDNO')
# Group the merged DataFrame by 'Campus' and calculate the total pending fees for each campus
campus_fee_totals = merged_df.groupby('Campus')['PENDING'].sum().reset_index()
# Display the total pending fees for each campus
print(campus_fee_totals)

    Campus  PENDING
0     Main    14890
1  Nairobi     5200
2    Ruiru     5075

In [4]:
import pandas as pd
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}
# Create a DataFrame from the sample data
wainaina= pd.DataFrame(cardata)
print(wainaina)
print("\n GROUPED DATA \n")
grouped=wainaina.groupby('Year')
# Display the filtered DataFrame for car sales in a given year
print(grouped.get_group(2011))

      Brand  Year    Model  Sales
0    Maruti  2009    Swift    120
1    Toyota  2010  Corolla    150
2  Mahindra  2011  Scorpio     95
3      Ford  2010   Fiesta     50
4    Maruti  2010     Alto    105
5    Toyota  2009    Camry    130
6    Toyota  2010   Innova     90
7      Ford  2012     Figo     75
8  Mahindra  2010   Bolero     85
9    Maruti  2009   WagonR    115

 GROUPED DATA

      Brand  Year    Model  Sales
2  Mahindra  2011  Scorpio     95